{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "id" : $util.dynamodb.toDynamoDBJson($context.identity.username)
    },
    "update" : {
        "expression" : "SET #name = :name, imageUrl = :imageUrl, bio = :bio, backgroundImageUrl = :backgroundImageUrl, #location = :location, website = :website ",
        "expressionNames" : {
            "#name" : "name",
            "#location" : "location"
        },
        "expressionValues" : {
            ":name" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.name),
            ":imageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.imageUrl),
            ":bio" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.bio),
            ":backgroundImageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.backgroundImageUrl),
            ":location" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.location),
            ":website" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.website)
        }
    },
    "condition" : {
        "expression" : "attribute_exists(id)"
    },
}
